<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header text-center">
      <h2>Edit App(<%= @registered_application.name %>)</h2>
      <p class="text-faded">Edit your app then click "Register" button.</p>
    </div>

    <%= render 'form' %>

    <%= link_to 'Back to list', user_registered_applications_path, class: 'btn btn-default' %>
  </div>
</div>