<div class="jumbotron">
  <h1>Analytics App</h1>
  <p>This is a API Tracking Service and Reporting Tool to track user activity and report results.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
